/algo_trading_data/
/trade_data/
/every_minute_df
/_0920_straddle_df
df_0920.csv
base_minute_df
all_atm_df
df_0920_atm_strike
day_strike_index_list
/nifty_spot_df
/_0920_ce_strike_df
/_0920_pe_strike_df
/every_minute_df_copy_apr_27_22
b-nifty-minute-candle
b_nifty_weekly_option_data_files_2020
b_nifty_weekly_option_data_files_till_20
back_test_trade_df
day_trades
every_minute_df
india-vix-day-candle
nse_json_datass
testtest
zerodha_orders
grouped_leg_trade
/nse_json_data
/atm_leg_trades_by_date_n_strike
/atm_strikes_by_date
/day_profit_df
/atm_strikes_by_interval
/day_trades_all_minute
/leg_trades_by_date_strike_n_offset
/strike_ticker_by_minute
/option_strike_minute_ticker_df
/analysis_data
